.bodypic{
    background-image: url('https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    opacity: 0.75;
}
h1{
    /* font-family: 'Roboto', sans-serif; */
   font-family: 'Shippori Antique B1';
   font-size: 60px;
   text-align: center;
   text-shadow: 2px 2px 4px #000000;
   position: relative;
   top: 100px;
}
.container{
    display: block;
    flex-wrap: wrap;
}
.sec1{
    display: flex;
}
.reg{
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    margin: 10px auto 0px 440px;
    padding: 50px;
    background-color: rgba(235, 231, 211, 0.66);
    box-shadow: 4px 4px 8px 8px black;
    border-radius: 20px;
    position: relative;
    top: 100px;
    width: 450px;
}
matInput{
    width: 50px;
}
mat-form-field{
    background-color: rgba(235, 231, 211, 0.85);
    height: 65px;
    width: 100%;
    border-radius: 5px;

}
button{
    background-color: rgba(247, 239, 199,0.7);
    margin-top: 20px;
}
button:hover{
    background-color: #3CB371;
    color: white;
}

/* @media (min-width: 800px) {
     form{
      flex-direction: row;
    }
  } */


