
<div id="main-wrap">
    <img
    class="demo-bg"
    src="https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
    alt=""
    height="100vh"
  >
    <input type="checkbox" id="check">
    <label for="check" >
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar" id="sidebar" >
      <!-- <header>Faizan Atif</header> -->
      <a href="#" class="" style="background-color: #0bdaf5;">
        <span style="text-align: left; margin-left: -20px; margin-right: 20px; "><b
            style="font-family:'Merriweather', serif; font-size: 20px; color: black;">Faizan
            Atif</b></span>
        <i class="fas fa-bell" style="color: #ffe77aff;"></i>
      </a>
      <!-- class active and turn into green -->
      <a [routerLinkActive]="['active']" [routerLink]="['/template/dashboard']" class="">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/employees']">
        <i class="fas fa-user"></i>
        <span>Employees</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/departments']">
        <i class="fas fa-building"></i>
        <span>Departments</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/teams']">
        <i class="fas fa-stream"></i>
        <span>Teams</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/designation']">
        <i class="fas fa-plane"></i>
        <span>Designation</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/supervisors']" style="white-space:pre-wrap;">
        <i class="far fa-question-circle"></i>
        <span>Supervisors</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/queries']">
        <i class="fas fa-sliders-h"></i>
        <span>Queries</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/myqueries']">
        <i class="far fa-envelope"></i>
        <span>MyQueries</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/qaqueries']">
        <i class="fa fa-quote-right"></i>
        <span>Queries QA</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/report']">
        <i class="far fa-envelope"></i>
        <span>Reports</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/register']">
        <i class="fas fa-user-plus"></i>
        <span>REGISTER</span>
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/logout']">
        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        <span>LOGOUT</span>
      </a>
    
    </div>
    
    
    <!-- Page content -->
    <div class="content" id="content">
        <div class="container" style="margin-top: 60px;">
              <router-outlet></router-outlet>
        </div>
    </div>
  </div>
  