/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  min-width: 10%;
  min-height: 100%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 100px;
  padding: 1px 0px;
  height: 100px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: start;
    float: none;
  }
  .sidebar{
    width: 100px;
  }
  .content{
    float: right;
  }

}
/* *{
  margin: 0;
  padding: 0;
  text-decoration: none;
} */
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
  margin-top: -1.5em;
}
.sidebar header{
  font-size: 28px;
  color: white;
  /* line-height: 70px; */
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 58px;
  width: 100%;
  color: white;
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid rgba(255,255,255,.1); */
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ .content{
  margin-left: 250px;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

a i:hover{
  border-radius: 50%;
  position: relative;
  color: #fffc39;
  transition: 300ms;
  font-size: 36px;
  display: inline-block;

}

#main_wrap {
  /* border:5px double #04AA6D; */
  box-shadow: 5px 10px 10px #04AA6D;
  }
  
  #sidebar{
          float:left;
      }
  
  /* #content{
      margin-left:250px;   
  } */
  .main-wrap {
    overflow: hidden;
    position: relative;
  }
  
.demo-bg {
  /* background: rgb(24, 139, 206);   */
  /* background-color: #4bb5df; */
  opacity: 0.25;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}
.content{
  color: #050505;
  opacity: 1;
}
.fas fa-bell:hover{
  box-shadow: 5px 5px 2px green;
  font-size: 50px;
}
