
<div id="main-wrap">
    <img
    class="demo-bg"
    src="https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg"
    alt=""
    height="100%"
  >
    <input type="checkbox" id="check">
    <label for="check" >
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar" id="sidebar" >
      <!-- <header>Faizan Atif</header> -->
      <a href="#" class="" style="background-color: #0bdaf5;">
        <span style="text-align: left; margin-left: -20px; margin-right: 20px; "><b
            style="font-family:'Merriweather', serif; font-size: 20px; color: black;">Faizan
            Atif</b></span>
        <i class="fas fa-bell" style="color: #ffe77aff;"></i>
      </a>
      <!-- class active and turn into green -->
      <a [routerLinkActive]="['active']" [routerLink]="['/template/dashboard']" class="">
        <i class="fas fa-qrcode"></i>
        Dashboard
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/employees']">
        <i class="fas fa-user"></i>
        Employees
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/departments']">
        <i class="fas fa-building"></i>
        Departments
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/teams']">
        <i class="fas fa-stream"></i>
        Teams
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/designation']">
        <i class="fas fa-plane"></i>
        Designation
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/supervisors']" style="white-space:pre-wrap;">
        <i class="far fa-question-circle"></i>
        Supervisors
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/queries']">
        <i class="fas fa-sliders-h"></i>
        Queries
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/myqueries']">
        <i class="far fa-envelope"></i>
        MyQueries
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/qaqueries']">
        <i class="fa fa-quote-right"></i>
        Queries QA
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/report']">
        <i class="far fa-envelope"></i>
        Reports
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/register']">
        <i class="fas fa-user-plus"></i>
        REGISTER
      </a>
      <a [routerLinkActive]="['active']" [routerLink]="['/template/logout']">
        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        LOGOUT
      </a>
    
    </div>
    
    
    <!-- Page content -->
    <div class="content" id="content">
        <div class="container" style="margin-top: 20px;">
              <router-outlet></router-outlet>
        </div>
    </div>
  </div>
  