
<div id="main-wrap">
    <img
    class="demo-bg"
    src="https://images.unsplash.com/photo-1498855926480-d98e83099315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt=""
    height="100vh"
  >
    <input type="checkbox" id="check">
    <label for="check" >
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar" id="sidebar" >
      <!-- <header>Faizan Atif</header> -->
      <a href="#" class="active">
        <span style="text-align: left; margin-left: -20px; margin-right: 20px; "><b
            style="font-family:'Merriweather', serif; font-size: 20px;">Faizan
            Atif</b></span>
        <i class="fas fa-bell" style="color: #ffe77aff;"></i>
      </a>
      <!-- class active and turn into green -->
      <a href="#" class="">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a href="#">
        <i class="fas fa-user"></i>
        <span>Employees</span>
      </a>
      <a href="#">
        <i class="fas fa-stream"></i>
        <span>Teams</span>
      </a>
      <a href="#">
        <i class="fas fa-plane"></i>
        <span>Designation</span>
      </a>
      <a href="#" style="white-space:pre-wrap;">
        <i class="far fa-question-circle"></i>
        <span>Supervisors</span>
      </a>
      <a href="#">
        <i class="fas fa-sliders-h"></i>
        <span>Queries</span>
      </a>
      <a href="#">
        <i class="far fa-envelope"></i>
        <span>MyQueries</span>
      </a>
      <a href="#">
        <i class="fa fa-quote-right"></i>
        <span>Queries QA</span>
      </a>
      <a href="#">
        <i class="far fa-envelope"></i>
        <span>Reports</span>
      </a>
      <a href="#">
        <i class="fas fa-user-plus"></i>
        <span>REGISTER</span>
      </a>
      <a href="#">
        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        <span>LOGOUT</span>
      </a>
    
    </div>
    
    
    <!-- Page content -->
    <div class="content" id="content">
        <div class="container" style="margin-top: 60px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore modi doloremque a unde quasi omnis, culpa, quibusdam labore quas accusamus corporis possimus nemo, pariatur quo sequi eveniet distinctio laborum ad.

        </div>
    </div>
  </div>
  