<div class="container">
    <h1>Dashboard Panel</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="temployees()">
                <h4><strong>Total  Employees</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tdepartment()" >
                <h4> <strong>Total Departments</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tteam()">
                <h4> <strong>Total Teams</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tdesignation()">
                <h4> <strong>Total Designations</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tqueries()">
                    <h4> <strong>Total Queries</strong></h4>
                    <h4>123</h4>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a>
                    <h4> <strong>Pending Queries</strong></h4>
                    <h4>123</h4>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a>
                    <h4><strong>Done Queries</strong></h4>
                    <h4>123</h4>
                </a>
            </div>
        </div>
    </div>
</div>