<div class="container">
    <h1>Dashboard Panel</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="temployees()">
                <h4><strong>Total <br> Employees</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tdepartment()" >
                <h4> <strong>Total <br> Departments</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tteam()">
                <h4> <strong>Total <br> Teams</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tdesignation()">
                <h4> <strong>Total <br> Designations</strong></h4>
                <h4>123</h4>
            </a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a (click)="tqueries()">
                    <h4> <strong>Total <br> Queries</strong></h4>
                    <h4>123</h4>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a>
                    <h4> <strong>Pending <br> Queries</strong></h4>
                    <h4>123</h4>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="dash">
                <a>
                    <h4><strong>Done <br> Queries</strong></h4>
                    <h4>123</h4>
                </a>
            </div>
        </div>
    </div>
</div>